* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Noto Sans KR', sans-serif;
 }
 
 .hidden {
   display: none !important;
 }
 
 body {
   position: relative;
   font-family: "Spoqa Han Sans", "Noto Sans KR", sans-serif;
   min-height: 100%;
 }
 
 /* header */
 header {
   display: flex;
   position: sticky;
   justify-content: space-between;
   top: 0;
   z-index: 1;
   height: 80px;
   align-items: center;
   padding: 0 72px;
   background-color: #0de7bc;
 }
 
 header.scrolled {
   box-shadow: 0 3px 7px 1px rgb(0 0 0 / 12%);
 }
 
 header > .logo-area {
   cursor: pointer;
 }
 
 header > nav > .menu {
   list-style: none;
 }
 
 header > nav > .menu > .menu-item {
   display: inline-block;
   font-size: 24px;
   padding: 0px 20px;
 }
 
 header > nav > .menu > .menu-item > a {
   color: #505050;
 }
 
 header > nav > .menu > .menu-item > a:hover {
   color: #9e9ea7;
   transition: all 0.1s ease;
 }

 h2 {
   margin-top: 40px;
   margin-left: 60px;
 }

.upload-form {
  margin-top: 20px;
  padding: 20px;
  border: none; 
}

 table.uploadTable {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 20px;
  width: 1200px;
  margin-left: 30px;
  margin-bottom: 20px;
 }

 table.uploadTable td {
	padding: 10px;
  font-size: 14px;
 }

#att_zone {
  width: 600px;
  min-height: 150px;
  padding: 10px;
  border:1px dotted #000;
  margin-top: 10px;
}

#att_zone:empty:before {
  content: attr(data-placeholder);
  color: #999;
  font-size: .9em;
}

.upload-btn {
  font-size: 14px;
  border: none;
  padding: 10px;
  width: 150px;
  height: fit-content;
  background-color: #0de7bc;
  color: white;
  margin-left: 40px;
}

 /* footer */
footer {
   position: absolute;
   bottom: -100px;
   width: 100vw;
   height: 40px;
   background: #505050;
   text-align: center;
   color: #fff;
 }
 
 footer > p {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 12px;
 }
 